header {
    display: flex;
    padding: 0 80px;
    align-items: center;
    height: 12vh;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 80px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    margin-right: 2em;
}